@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Poppins:wght@100;200;300;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html{
    font-size: 10px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    font-size: 1.9rem;
}

p{
    font-size: 1.2rem ;
}

header{
    width: 100%;
    height: 5rem;
    background-color: rgba(240, 248, 255, 0.384);
    position: fixed;
    top:0;
    z-index: 333;
}

.container{
    width:90%;
    max-width: 200rem;
    margin: 0 auto;

}

.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;

}

.navbar h1{
    text-transform: uppercase;
    color: #5b5963;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul a {
    font-size: 1.2rem;
    padding: 1.5rem;
    text-transform: uppercase;
    color: #5b5963;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all 0.4s ease;
}

.navbar ul a:hover{
    color: white;
    background-color: #fd735a;
}
.hero{
    max-width: 114rem;
    height: 40rem;
    background: url(cool-geometric-triangular-figure-neon-laser-light-great-background.jpg) no-repeat center center/cover;
    margin: 5rem auto;
}

main{
    width: 100%;
    max-width: 90rem;
    background-color: white;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 1.5rem;
    margin-top: -15rem;
}

main h2{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

main .profile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

main .profile-container .profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .profile-container .profile .img-container{
    width: 4rem;
    height: 4rem;
    background: url(photo-1438761681033-6461ffad8d80.png)no-repeat center center/cover ;
    border-radius: 0.5rem;

}

main .profile-container .profile .text{
    margin: 0 1rem;
    color: #5b5963;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;

}

.profile .text h3{
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0.3rem 1.5rem;
    background-color: #fb6548;
    border-radius: 0.2rem;
}

main p{
    color: #302624;
    margin: 1rem 0;
}

main .content h4{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    color: #5b5963;
    margin: 2rem 0;

}

main .content .content-img-container{
    width: 100%;
    height: 35rem;
    background: url(pexels-photo-2299028\ \(1\).jpg) no-repeat center center/cover;
}

.tags{
    display: flex;
    align-items: center;
}

.tags p{
    font-size: 1.4rem;
    text-transform: capitalize;
}
.tags a{
    display: inline-block;
    padding: 0.3rem 1.5rem;
    background-color: #f5f5f5;
    color: #5b5963;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
}

.articles{
    width: 100%;
    background-color: #f5f5f5;
    margin: 5rem 0;
    padding: 5rem 0;
}

.articles .article-heading{
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    position: relative;
}

.article-heading h5{
    font-size: 10rem;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    color: rgba(244, 165, 165, 0.427);
}

.article-heading h6{
    font-size: 4rem;
    font-weight: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #5b5963;
}

.cards{
    display: flex;
    justify-content: space-between;
    margin: 4rem auto;
    gap: 5rem;
}

.cards .card-container
{
    cursor: pointer;
    transition: all 0.4s ease;
}

.cards .card-container .img-holder{
    max-width: 100%;
    height: 24rem;
    background: url(swiss-alps.jpg)no-repeat center center/cover;
    position: relative;
}

.cards .card-container.two .img-holder{
    background: url(images.jpg)no-repeat center center/cover;
}

.cards .card-container.three .img-holder{
    background: url(61ae3c9c30cf2cadd951d513_l.jpeg)no-repeat center center/cover;
}

.cards .card-container .img-holder a{
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0.3rem 1.5rem;
    display: inline-block;
    color: #429f98;
    background-color: white;
    font-weight: 400;
    position: absolute;
    bottom: 5%;
    right: 5%;
    transition: all 0.4s ease;
}

.cards .card-container:hover{
    transform: translateY(-1rem);
}

.cards .card-container:hover a{
    background-color: #fd735a;
    color: white;
}

.cards .card-container .card-text{
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 0.3rem grey;
}

.cards .card-container .card-text h4{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.cards .card-container .card-text p{
    font-size: 1.2rem;
}
.articles .button{
    margin: 0 auto;
    text-align: center;
}
.articles .btn{
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: none;
    padding: 0.5rem 3rem;
}

footer{
    background-color: #333;
    padding: 3rem 0;
}

.icons{
    text-align: center;
}
.icons .social i{
    font-size: 3rem;
    color: grey;
    padding: 1rem;
    transition: all 0.4 ease;
}

.icons .social i:hover{
    color: white;
    cursor: pointer;
}

.icons .copyright p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: white;
    margin: 2rem 0;
}

.wrapper{
    width: 330px;
    padding: 2rem 0 1rem 0;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }

  h1.login{
    font-size: 2rem;
    color: #07001f;
  }
  p.login{
    margin-bottom: 1.7rem;
  }
  form input{
    width: 85%;
    outline: none;
    border: none;
    background: #dfe9f5;
    padding: 12px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .recover{
    text-align: right;
    font-size: 0.8rem;
    margin: 0.2rem 1.7rem 0 0;
  }
  .recover a{
    text-decoration: none;
    color: #07001f;
  }
  button.login{
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 10px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 85%;
    background: tomato;
    color: #fff;
    cursor: pointer;
  }
  button.login:hover{
    background: rgba(122, 30, 30, 0.767);
  }
  .or{
    font-size: 0.8rem;
    margin-top: 1.5rem;
  }
  .icons i{
    color: #07001f;
    padding: 00.8rem 1.5rem;
    border-radius: 10px;
    margin-left: .9rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #dfe9f5;
  }
  .icons.login i:hover{
    color: #fff !important;
    background: #07001f;
    transition: 1s;
  }
  .icons.login i:first-child{
    color: green;
  }
  .icons.login i:last-child{
    color: blue;
  }
  .not-member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
  }
  .not-member a{
    color: tomato;
    text-decoration: none;
  }
  a.login:hover{
    text-decoration: underline;
  }
 @media only screen and (max-width: 768px) {
    body .card-container .cards .container .articles
    {
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    .cards .card-container{
       width: 90%;
    }
    .article-heading h5{
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 3px;
        position: relative;
        color: rgba(244, 165, 165, 0.427);
    }
    .article-heading h6{
        font-size: 4rem;
        font-weight: 200;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #5b5963;
    }
    .cards{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .profile-container
    {
        display: flex;
        flex-direction: column;
    }

    .icons .social i{
        font-size: 1rem;
        color: grey;
        padding: 1rem;
        transition: all 0.4 ease;
    }
    .icons .copyright p{
        font-size: 0.5rem;
    }
    
    
    
   }
  
